language: android

jdk:
- oraclejdk8

before_install:
# Install SDK license so Android Gradle plugin can install deps.
- mkdir "$ANDROID_HOME/licenses" || true
- echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_HOME/licenses/android-sdk-license"
- echo "24333f8a63b6825ea9c5514f83c2829b004d1fee" >> "$ANDROID_HOME/licenses/android-sdk-license"
# Install the rest of tools (e.g., avdmanager)
- sdkmanager tools
# Install the system image
- sdkmanager "system-images;android-18;default;armeabi-v7a"
# Create and start emulator for the script. Meant to race the install task.
- echo no | avdmanager create avd --force -n test -k "system-images;android-18;default;armeabi-v7a"
- $ANDROID_HOME/emulator/emulator -avd test -no-audio -no-window > /dev/null 2>&1 &

install: ./gradlew build assembleAndroidTest --stacktrace

before_script:
- android-wait-for-emulator
- adb shell input keyevent 82

script:
- ./gradlew check connectedCheck --stacktrace

after_success:
- .buildscript/deploy_snapshot.sh

env:
  global:
  - GRADLE_OPTS="-Xmx768m -Xms256m -Xss1m" # To limit memory use on CI and avoid OOMs
  - secure: "th/WHMPJ+u6Zv40agrt3FEG0UTE0qUUbvuF4NgF2bpQ68zJ5GE+O6OZ9cQS0XcQFxOhm9cSYZwSlalbOuOB0HpPZz8o4uKOGiKFkZjj9pboOhiNLLNoP7CYx9sNbyVgmAP1uuCFwaJYVIC62plizY8rRwPsQ53pO4WVqQYmY4itO2qqVFywqi7mtZcK0PvSsdAHjIXJL8ycOj07dxAP7CV/cz+ZP8I1DjkK0uPMpa60J/9MUg+gKEOyCVvDQcdHg0kyaZCmzqJvZ++XG6Z3noASCDjODJEE1+Zol7acfYAiT5+rnfRn4LiSXxYWm0DfBQoDHMR0H75F1bBGFR2v0ZXWqtSIrnyDg0By8ExG5WRdmLhqvVnEyND4lFZS8Qa6FFJzTR2r6IHcSIK2s2D8l5bmm65qblBPM/G6EtwqOe5CeaUpZu5AsDCQZXf+PpwZbwrnkmlgCXMRPMTGBVC5qwht2IIwcb2QsM8jzGv12X6GjmU+S8X1r3MnpZ8vGW9jIHv9WzfdF8GeGa7se0ZeTBeARqJp9i4nBp/s6k1/dK7kDyaV831CggiD05PpqK9rnm0x624nyDFS/F28ByZnHfOWLCN1DIWmECJTsFtoh8zTdQ+IUv+BO+7h6bUpWbw4gN2AP9qoRb6E6ITrJPjTZEsbSWgjC00y6VrtBHKoRFCU="
  - secure: "PWNIobyXzX8ls4rJMnXrO5mygq6JRYnwOVAmAkprgCETArkEwxHG4kEAy+Ha2mGNopkAh6K6Dg3iV/OqR20l58uRsCahgp8z4eYFHXbmA6nIJN5O8IvfxKMwVxxeWlVqXSSNjoPOgbdl0XcuoUDDksftWKm6o7cra1joilCIyJGupB6LLFEielaW3nwLjP0I9bYIqzHv245RyXRsLhwjbzfXrpJdPH3z+y7MyNJfwRGWvTBlEETPUMwMRxwUcNOvx4d3j6XhEWE6vdEeAYLsPAoAb0wXNCgii0/RWzsQqgTHgOcwOoi5UJrFCLZ8Dke551qnshomgM/HMoibvbyOVV0H0YTFnUpc04RdTI6mfiv3cFx2oqknQha4BWFVaM1cHhg9a6TdmL1ubbm7ECTXbEl/3bhL3VFMPl+ouvga+sJoPGBMyjZbeRe2ifin1ixE3GMutV37eW4RNFWGbbQORnahNiLb8PLDZqmUj/Jy8fdRLhBVB3O3u7lrayZb5ODIA3aJ2JC2wo9CtbQSR+To1B3WNTn0GpkyNceOj0XM9Z/87gMkqvm7hh6OT2bYX39VkExA5DZJnPxoSrAfGypK8je6aw478LrV7F2xnUY40FUPBV+a/GsHq8OGSjdJti8wZbr7rti3zLWZEF7+WvETELcH2GqdnVPIHO1H5xnbJ8k="

branches:
  except:
  - gh-pages

notifications:
  email: false

cache:
  directories:
  - $HOME/.gradle
