@font-face {
    font-family: uber-move;
    src: url("../fonts/UberMove-Medium.woff2") format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: uber-move;
    src: url("../fonts/UberMove-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: uber-move;
    src: url("../fonts/UberMove-Medium.woff2") format("woff2");
    font-weight: 700;
    font-style: normal
}

body, input {
    font-family: uber-move,"Helvetica Neue",helvetica,sans-serif;
}
